<%-include ('./header') %>


<div class="contianer">

<div class="modal-body p-5">
    <form method="post" id="userform" action="/edit/<%= value.userid %>">
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">username</label>
        <input type="text" class="form-control" id="recipient-name" name="username" value="<%= value.username %>">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">email</label>
        <input type="email" class="form-control" id="recipient-name" name="email" value="<%= value.email %>">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">phone</label>
        <input type="text" class="form-control" id="recipient-name" name="phone" value="<%= value.phone %>">
      </div>
      <div class="mb-3">
        <label for="recipient-name" class="col-form-label">city</label>
        <input type="text" class="form-control" id="recipient-name" name="city" value="<%= value.city %>">
      </div>     
    </form>
  </div>
  <div class="modal-footer  mx-5">
    <button type="button" class="btn btn-primary" id="user-form-submit">submit</button>
  </div>
</div>
</div>
</div>
</div>

<%-include('./footer') %>
